<app-header titulo="Refresher"></app-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h1 *ngIf="items.length === 0">Pull to refresh</h1>

  <ion-list>
    <ion-item *ngFor="let item of items;let i = index" class="animated fadeIn fast">
      Item {{ i +1 }}
    </ion-item>
  </ion-list>
</ion-content>
