<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>searchbar</ion-title>
  </ion-toolbar>

  <ion-searchbar (ionChange)="buscar( $event )"></ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let album of albunes | filtro: textoBuscar:'title'">
      {{album.title}}
    </ion-item>
  </ion-list>

</ion-content>
