<app-header titulo="Modal"></app-header>

<ion-content padding>

    <ion-button expand="full" (click)="abrirModal()">
        Abril Modal
    </ion-button>

    <p>
        Juan Manuel Galindo Casillas
    </p>
</ion-content>
