<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>Popover</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="mostrarPop( $event )">
        <ion-icon name="contact" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)="mostrarPop( $event )">
    <ion-icon name="contact" slot="start"></ion-icon>
    <ion-label>Popover</ion-label>
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarPop( $event )">
        <ion-icon name="contact" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> FOOTER </ion-title>
  </ion-toolbar>
</ion-footer>
