
<app-header titulo="Card"></app-header>


<ion-content padding>

    <ion-card mode="ios" color="primary">

        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature"s heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

    </ion-card>


    <ion-card>

      <ion-item color="primary">
        <ion-icon color="light" slot="start" name="pin"></ion-icon>
        <ion-label>Marcador</ion-label>
      </ion-item>

      <ion-card-content>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt vitae saepe, consequatur neque quibusdam itaque, a illum nobis veritatis nihil inventore eaque non laborum pariatur quae minus et deleniti tempore.
      </ion-card-content>

    </ion-card>


    <ion-card>
      
      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero dolor quae eveniet commodi ut amet exercitationem, consequatur quis iusto rerum explicabo tempore eligendi debitis a suscipit rem repudiandae consectetur!
      </ion-card-content>

    </ion-card>



</ion-content>
